{% extends "base.html" %}
{% load compress %}
{% load inplace_edit %}

{% block content %}
    <!-- Jumbotron -->
    <div class="jumbotron">
        <h2> {% inplace_edit "page.header|safe" %} </h2>
    </div>

    <hr>
    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span9">
            {% inplace_edit "page.short_text|safe" %}
            <hr>
            {% inplace_edit "page.detail_text|safe" %}
        </div>
        <div class="span3">
            {% for block in page.block_set.all %}
                <h4> {% inplace_edit "block.header" %} </h4>
                {% inplace_edit "block.text|safe" %}
                <hr>
            {% endfor %}
        </div>
    </div>

    <hr>
{% endblock %}
